// Bootstrap
@import "custom-variables";
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

header {
  padding: 30px 0;
}

section {
  padding: 30px 0;
}
main{
  padding: 56px 0;
  min-height: 100vh;
}

.has-shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.show > .dropdown-menu {
  display: block;
}
.fixed-top{
  z-index: 999;
}
.container-fluid{
  overflow: hidden;
}